body{
    background-color: skyblue;
}
.cont{
    display: flex;
    justify-content: center;
    align-items: center;
    height:100vh;
}
.contain{
    width: 696px;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr) ; 
}
.contain > div{
    display: flex;
    align-items: center;
    justify-content: center;
    
    
}
.white{
    height: 87px;
    width: 87px;
    background-color: #f0d9b5;
}
.black{
    height: 87px;
    width: 87px;
    background-color: #b58863;
}
.chess1{
    height: 70px;
}
